section, footer {
    width: 100vw;
}

.head {
    background: url('img/cariguru.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    margin-top: 10vh;
    color: white;
}

.head-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.493);
}

.head-overlay h3 {
    margin-bottom: 30px;
    font-weight: 200;
}

.search-filter {
    color: black;
    background-color: white;
    display: flex;
    width: 70vw;
    border: transparent;
    border-radius: 7px;
    padding: 30px 10px;
}

.filter-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
}

.filter-item.last{
    border-right: none;
}

.filter-item select {
    border-color: #00A2E9;
    width: 85%;
}

.filter-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-btn {
    width: 20%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-btn {
    width: 90%;
    padding: 3px 25px;
    color: white;
    border: 1px solid #00A2E9;
    border-radius: 5px;
    background-color: #00A2E9;
    outline: none;
    cursor: pointer;
}

.detailguru {
    position: relative;
}

.detailguru-background {
    height: 450px;
    background-image:url("img/edu.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.guru-fokus {
    margin: 0 auto;
    margin-top: -250px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: white;
    box-shadow: 1px 1px 1px 1px rgb(218, 218, 218);
}

.guru-fokus div img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.guru-fokus .profil {
    margin-bottom: 20px;
}

.guru-fokus .kategori {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.guru-fokus .kategori div {
    width: 200px;
}

.guru-fokus .kategori div h5 {
    font-weight: 400;
}

.guru-fokus .kategori div.vertical-line {
    width: 0px;
    border: .5px solid #000;
}

.material-icons {
    font-size: 15px;
}

.pilih-jadwal {
    margin-bottom: 20px;
}

.pilih-jadwal h4 {
    margin-bottom: 20px;
    font-weight: 400;
}

.pilih-jadwal .pilihan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -50px;
}

.pilih-jadwal .pilihan div {
    margin: 0 10px;
}

.pilih-jadwal .pilihan div select {
    border: 1px solid #00A2E9;
}

.pilih-jadwal .pilihan .tambah {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.plus-btn {
    border: none;
    background: white;
    display: inline-block;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    color: #00A2E9;
    background-color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 50%;
    border: 2px solid #00A2E9;
    font-size: 24px;
    font-weight: bold;
    transform: scale(.5);
    vertical-align: bottom;
    margin-top: 20px;
}

.tambah button:hover {
    background: #00A2E9;
    color: white;
}

.tambah button:focus{
    outline: none;
}

.pesan-jadwal {
    padding: 10px 25px;
    color: white;
    border: 1px solid #00A2E9;
    border-radius: 5px;
    background-color: #00A2E9;
    outline: none;
    cursor: pointer;
}

.pesan-jadwal:hover {
    color: white;
    text-decoration: none;
}

#guruserupa {
    margin: 50px 0;
    text-align: center;
    position: relative;
}

.listguru {
    display: flex;
    justify-content: center;
}

.guru {
    width: 250px;
    box-sizing: border-box;
    border: transparent;
    text-align: center;
    margin: 1rem 1em;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 10px 10px 20px 10px;
}

.guru img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.guru .nama {
    margin-top: 10px;
}

.guru h5 {
    font-weight: 600;
}

.list-hari {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-hari .hari {
    display: inline;
    padding: 3px 5px;
    border: 1px solid green;
}

.grey {
    color: rgb(92, 92, 92);
}

.detail-guru-btn {
    color: white;
    background-color: #00A2E9;
    box-shadow: 0px 0px 5px 1px #ccc;
    padding: 5px 40px;
}

.detail-guru-btn:hover {
    background-color: rgb(1, 149, 212);
    color: white;
    text-decoration: none;
}

.arrow {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
    top: 50%;
}

.arrow a {
    text-decoration: none;
    color: white;
    background-color: rgba(26, 26, 26, 0.671);
    padding: 8px 16px;
    border-radius: 50%;
    font-size: 24px;
}

.modal.show {
    padding: 0;
    margin: 0;
}

.modal-content {
    padding: 30px 50px;
}

.konfirmasi {
    text-align: center;
    margin-bottom: 40px;
}

.info-summary {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-summary div {
    padding: 0 20px;
    margin-top: 10px;
}

.info-summary div ul {
    list-style: none;
    padding: none;
}

.info-summary div h5 {
    font-weight: bold;
}

.konfirmasi-btn a.btn {
    width: 80px;
    margin: 0 5px;
    color: white;
    text-decoration: none;
}