.carousel-item {
    margin-top: 10vh;
    height: 80vh;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.116);
}

.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    border: none;
    background-color: #00A2E9;
}

.carousel-caption {
    position: absolute;
    left: 60%;
    top: 40px;
    bottom: 80px;
    z-index: 10;
    width: 500px;
    padding: 30px;
    line-height: 1.3;
    font-weight: 200;
    color: #fff;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.692)
}

.carousel-caption p {
    font-size: 3.5em;
}

#about {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0 50px 0;
    color: #212921;
    font-size: 1.6em;
    font-weight: 400;
}

#about .content {
    width: 35%;
}

#about .content img {
    height: 50px;
    margin-bottom: 30px;
}

#feature {
    background: url('img/feature.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    padding: 50px 0 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feature h1 {
    font-weight: 400;
    letter-spacing: .5px;
    padding-bottom: 80px;
}

.feature-items {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.feature-two {
    width: 70vw;
    display: flex;
    justify-content: space-between;   
    padding-bottom: 50px; 
}

.feature-one {
    display: flex;
    justify-content: center;
}

.feature-card {
    display: flex;
    text-align: left;
    font-size: 1.2em;
}

.feature-card .description {
    padding-left: 30px;
    width: 200px;
}

.feature-img {
    height: 120px;
}

#shortcut {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

#shortcut .person {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.person img {
    height: 90%;
}

#shortcut .description {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#shortcut .description .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#shortcut .description .items a {
    padding: 10px 150px;
    margin-top: 30px;
    border: 2px solid #00A2E9;
    text-align: center;
    color: #00A2E9;
    font-size: 1.3em;
    transition: border-radius .3s;
    transition: background-color .3s;
}

#shortcut .description .items a:hover {
    background-color: #00A2E9;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.left-brand {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.left-brand img {
    height: 40px;
}

@media only screen and (max-width: 480px) {
    p {
        font-size: 14px; 
    }

    .carousel-item {
        height: 160px;
        margin-top: 49px;
    }

    .carousel-indicators {
        bottom: 2px;
    }

    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 8px;
        height: 8px;
    }

    .carousel-caption {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 0;
        background-color: transparent;
    }

    .carousel-caption p {
        position: absolute;
        width: 160px;
        padding: 8px;
        top: 12px;
        right: 12px;
        background-color: rgba(0, 0, 0, .8);
        font-size: 16px;
    }

    #about {
        background-color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
        color: #212921;
        font-size: 1.6em;
        font-weight: 400;
    }
    
    #about .content {
        width: 100%;
        padding: 18px;
    }
    
    #about .content img {
        width: 128px;
        height: auto;
        margin-bottom: 15px;
    }

    .feature-items,
    .feature-two,
    .feature-card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .feature-two {
        padding-bottom: 0;
    }

    .feature-card {
        align-items: center;
        margin-bottom: 28px;
    }

    .feature-card > .description {
        padding: 0;
        text-align: center;
        width: 300px;
    }

    .feature-img {
        width: 62px;
        height: auto;
        margin-bottom: 12px;
    }

    #feature h1 {
        font-size: 20px;
        padding-bottom: 27px;
    }
    
    #feature h3 {
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .left-brand,
    .person img {
        display: none;
    }

    #shortcut {
        height: 160px;
    }

    #shortcut h3 {
        font-size: 18px;
    }

    #shortcut .description {
        padding: 0;
    }

    #shortcut .description .items a {
        width: 210px;
        padding: 8px;
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
    }
}