.modal-content {
    padding: 20px 40px;
}

.image-container {
    position: relative;
    width: 100px; 
    height: 100px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.image-container label {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 30px;
    height: 30px;
    background:#00A2E9;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: table;
    color: #fff;
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(155, 155, 155);
}

.image-container input {
    display: none;
}

.modal-content > div > form {
    text-align: left;
}

.modal-content label {
    display: block;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 10pt;
    color: rgb(73, 73, 73);
}

.pilih-jadwal label {
    margin-top: 5px;
}

input[type=text], 
input[type=email],
select {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(196, 196, 196);
}

input:focus, 
select:focus {
    border-bottom: 2px solid #00A2E9;
    outline: none;
}

.pilihan-jadwal {
    width: 40%;
}

.pilihan-jadwal > select {
    width: 90%;
}

.tambah-btn {
    font-size: .8em;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tambah-btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-simpan {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
}

#jadwalTerpilih {
    width: 60%;
}

#jadwalTerpilihList {
    list-style: none;
    font-size: 12pt;
    width: 100%;
    padding: 0;
}

.item-tambah {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-jadwal-item {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.list-jadwal-item > div {
    display: inline-block;
}

.hari {
    width: 33%;
}

.jam {
    width: 50%;
}

.hapus-btn {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    text-align: center;
}

.hapus-btn:focus {
    outline: none;
}

.hapus-btn:hover {
    background-color: rgb(253, 47, 47);
    border-radius: 5px;
    color: white;
}